name: DAT to JSON Action

on:
  workflow_dispatch:

jobs:
  generate-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Generate JSON from DAT
        uses: Loyalsoldier/geosite-action@v1
        with:
          dat-dir: sources
          output-json: aggregated_rules.json

      - name: Show JSON sample
        run: head -n 20 aggregated_rules.json