name: Fetch DAT JSON

on:
  workflow_dispatch:

jobs:
  fetch-json:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Create sources folder
        run: mkdir -p sources

      - name: Download aggregated JSON
        run: |
          curl -L -o aggregated_rules.json \
          https://github.com/Loyalsoldier/v2ray-rules-dat/raw/release/dnsmasq/aggregated.json

      - name: Show JSON sample
        run: |
          echo "---- JSON preview ----"
          head -n 20 aggregated_rules.json
          echo "---- end preview ----"